.custom-card {
    display: flex;
    flex-direction: column;
    width: 260px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fcf2e3;
    padding-left: 29px;
    padding-right: 29px;
    padding-top: 7px;
    height: 280px;
    cursor: pointer;
    border-radius: 24px;
    transition: 0.23s ease;
}

.custom-card img {
    width: 60px;
}

.custom-card .custom-title {
    margin-top: 12px;
    font-size: 28px;
    font-weight: bold;
}

.custom-card .message {
    margin-top: 7px;
    font-size: 20px;
    color: #707070;
}


.custom-card:hover {
    box-shadow: 1px 12px 8px rgba(0, 0, 0, 0.9);
}