@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 24px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(50px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.logo img {
    height: 40px;
    transition: transform 0.2s ease-in-out;
}

.logo img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.navlinks ul {
    display: flex;
    gap: 20px;
}

.navlinks ul li {
    list-style: none;
}

.navlinks ul li a {
    text-decoration: none;
    color: white;
    transition: 0.2s ease;
    font-size: 18px;
}

.navlinks ul li a:hover {
    color: rgb(111, 78, 55);
}

#sign-in,
#sign-up {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 22px;
    font-size: 16px;
    transition: 0.2s ease-in-out;
}

#sign-in {
    color: white;
    background: transparent;
}

#sign-up {
    color: black;
    background: #F9C06A;
}

#sign-up:hover {
    background: transparent;
    color: white;
}

.sign-buttons {
    display: flex;
    gap: 12px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle img {
    width: 28px;
    height: 28px;
}

/* ----------------------------------
   🔧 Responsive (Mobile-first design)
---------------------------------- */

/* Base Mobile (up to 768px) */
@media (max-width: 768px) {
    .navbar {
        width: 95%;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .navbar.expanded {
        background-color: rgba(0, 0, 0, 0.95);
        height: auto;
        padding-bottom: 20px;
    }

    .navlinks,
    .sign-buttons {
        display: none;
        width: 100%;
        opacity: 0;
        text-align: center;
        transform: translateY(-10px);
        transition: all 0.5s ease-in-out;
    }

    .navlinks.active,
    .sign-buttons.active {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 20px;
        opacity: 1;
        transform: translateY(0);
    }

    .navlinks ul {
        flex-direction: column;
        gap: 16px;
    }

    .menu-toggle {
        display: block;
        align-self: flex-end;
    }

    .menu-toggle {
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 1100;
    }

    .logo img {
        margin-top: 5px;
    }

}