@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;

}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(50px);
    z-index: 1000;
}

.navlinks ul li a {
    text-decoration: none;
    color: white;
    margin: 22px;
    transition: 0.2s ease;
}

.navlinks ul li a:hover {
    color: rgb(111, 78, 55);
}

.navlinks ul li {
    list-style: none;

}


.navlinks ul {
    display: flex;

}


#sign-in {
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 12px 20px;
    outline: none;
    background: transparent;
    border-radius: 22px;
}

#sign-up {
    text-decoration: none;
    margin: 8px;
    padding: 12px 20px;
    color: black;
    background: #F9C06A;
    outline: none;
    border-radius: 22px;
    transition: 0.2s ease-in-out;
}

#sign-up:hover {
    background: transparent;

    color: white;
}

.navbar .logo img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}