@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.page4-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    -webkit-tap-highlight-color: transparent;
    font-family: "Playfair Display", serif;
    scroll-behavior: smooth;
    height: 100vh;
    transform: translateY(-200px);
    padding-top: 0px;
}


.page4-container .question {
    font-size: 50px;
    color: #492903;
    font-weight: bold;
}


.page4-container .desc1 {
    font-size: 20px;
    color: #707070;
    line-height: 2;
}



.page4-container .top-blast {
    transform: translate(454px, 150px);
    width: 442px;
}

.content-card-container {
    display: flex;
    gap: 20px;
    margin-top: 15px;
    /* align-items: center; */
    /* justify-content: center; */
}

.desc2 {
    color: lightgrey;
    margin-top: 4px;
}

.text-started {
    font-size: 25px;
    font-weight: bold;
    color: #492903;
}

.btnJoin {
    background-color: #F9C06A;
    padding: 12px 20px;
    color: black;
    border-radius: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s ease-in;
    margin: 8px;
}

.btnJoin:hover {
    opacity: 0.9;
}

.btnJoin:active {
    opacity: 1.2;
}


@media screen and (max-width:768px) {
    .page4-container {
        margin-top: 1550px;
        align-items: flex-start;
        padding: 20px;
    }

    .page4-container .question {
        font-size: 25px;
        margin-left: 15px;
    }

    .page4-container .top-blast {
        transform: translate(220px, 75px);
        width: 442px;
    }

    .page4-container .top-blast {
        width: 145px;
    }

    .page4-container .desc1 {
        margin-top: 35px;
        line-height: 1;
        margin-bottom: 20px;
        margin-left: 15px;
    }

    .content-card-container {
        flex-direction: column;
    }

    .text-started {
        margin-left: 45px;
        text-align: center;
    }

    .btnJoin {
        margin-left: 110px;
        font-size: 15px;
    }
}